:root{
    --background: #000;
    --font__color: #fff;
    --details: purple;
    --hover: gray;
    
}

.header1 h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header1 h6{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    height: auto;
    position: sticky;
    background-color: var(--background);
    border-bottom: 3px solid var(--details);
    margin-bottom: 10px;
}


.header__nav{
    display: flex;
    
}


.header__nav a {
    min-height: 30px;
    text-decoration: none;
    color: white;
    flex: 1;
    /* border-top: 2px solid white; */

    display: flex;
    justify-content: center;
    align-items: center;
 
}

.header__nav a:hover{
    background-color: var(--hover);
}


.main{
    display: flex;
    background-color: white;
}

.esquerda{
    padding: 2px;
    width: 80%;
    height: 100%;
    
 
}

.direita{
    justify-content: space-between;
    padding: 2px;
    width: 20%;
    height: 100%;
    
    margin-left: 5px;
}

.direita > div {
    margin-bottom: 20px;
    background-color: rgb(248, 244, 244);
    padding: 20px;
}

.div__section{
    margin-bottom: 5px;
    /* border: 1px solid red; */
    background-color: rgb(248, 244, 244);
    padding: 20px;
    
}

.img{
    height: 100px;
    width: 100%;
    background-color: gray;
}

.div__contato{
    display: flex;
    justify-content: center;
    align-items: center;
}


.contato{
    width: 40%;
}
.input__contato{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    
}



#menu__button{
    display: none;
}
label[for = 'menu__button']{
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}




@media (max-width: 650px) {
    .header__nav{
        flex-direction: column;
        border-bottom: 1px solid white;
        display: none;
    }
    .header__nav a{
        border-bottom: 1px solid white;
    }

    label[for = 'menu__button']{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #menu__button:checked ~ .header__nav{
        display: block;
    }

    .main{
        display: block;
    
    }

    .esquerda{
        width: 100%;
    }

    .direita{
        width: 100%;
    }
}

 